<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Monkey Consulting</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <!--     <script type="module" src="https://pyscript.net/latest/pyscript.js"></script>-->
</head>

<body class="body">
  <br>
  <h1 class="py-title">Monkey Consulting</h1>
  <div class="py-title">Sistema de Gestão</div>
  <br />
  <button class="py-button" onclick="openPopup('clientes')">
    Adicionar Cliente
  </button>
  <br />
  <br />
  <table>
    <thead>
      <tr style="background-color: wheat" class="marked_row">
        <th>Nome</th>
        <th>Telefone</th>
        <th>Dieta / Treino</th>
        <th>Plano</th>
        <th>Data da Troca Plano</th>
        <th>Data de Vencimento Plano</th>
        <th>Data de Pagamento</th>
        <th>Vlr. Bruto</th>
        <th>Vlr. Liquid.</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in dados.data %}
      <tr class="marked_row">
        <!-- <td>{{ cliente.id_cliente }}</td> -->
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.telefone }}</td>
        <td>{{ cliente.dieta.descricao }}</td>
        <td>{{ cliente.plano.descricao }}</td>
        <td>{{ cliente.data.proxima_troca_dieta_treino }}</td>
        <td>{{ cliente.data.vencimento_plano }}</td>
        <td>{{ cliente.data.data_pagamento }}</td>
        <td><span class="valor-monetario">{{ cliente.valor.valor_bruto }}</span></td>
        <td><span class="valor-monetario">{{ cliente.valor.valor_liquido }}</span></td>
        <td style="margin: 0; padding: 0; position: relative  ;">
          <button id="editar_cliente" title="Editar Cliente"
            onclick="openPopup('cliente/detalhar/{{ cliente.id_cliente }}')">
            &#9998;
          </button>
          <button id="informar_pagamento" title="Informar Pagamentos"
            onclick="openPopup('cliente/pagamento/{{ cliente.id_cliente }}')">
            $$
          </button>
          <button onclick="desativar_cliente('{{cliente.id_cliente}}')" title="Cancelar Cliente">&#9940;</button>
          <button onclick="congelar_cliente('{{cliente.id_cliente}}')" title="Congelar Cliente, Função não disponível"
            disabled>&#129482;</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>

  <script>
    function openPopup(url) {
      var style = "width=500, height=500, scrollbars=yes";
      window.open(url, "_blank", style);
    }

    function desativar_cliente(id_cliente) {
      var confirm = window.confirm("Deletar Cliente?");
      if (confirm == true) {
        var req = new XMLHttpRequest();
        req.open("DELETE", "/cliente/" + id_cliente, true);
        req.onreadystatechange = function () {
          if (req.readyState === 4) {
            if (req.status === 200) {
              console.log(req.responseText);
              window.location.reload();
            }
            console.log("Erro na requisicao", req.status, req.statusText);
          }
        };
        req.send();
      }
    }

    function congelar_cliente(id_cliente) {
      alert("Função ainda não disponível")
    }

    function formatarValor(valor) {
      if (valor != '') {
        valor = valor.replace(/[^\d.]/g, '');
        valor = parseFloat(valor).toFixed(2);
        valor = valor.replace('.', ',')
        return "R$ " + valor.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      }
    }

    // Função para formatar os valores monetários nas células da tabela
    function formatarValoresMonetarios() {
      try {
        var cells = document.querySelectorAll('.valor-monetario');
        cells.forEach(cell => {
          var valor = cell.textContent.trim();
          cell.textContent = formatarValor(valor)
        }
        )
      }
      catch (error) {
        console.log(error)
      }
    }

    // Chama a função para formatar os valores monetários quando a página é carregada
    window.onload = formatarValoresMonetarios;
  </script>
</body>

</html>