<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Cliente</title>
</head>
<body>

    <h1>Formulário de Cliente</h1>

    <form action="/clientes" method="post" content="">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone" pattern="[0-9]{10}" placeholder="Apenas números" required><br><br>

        <input type="submit" value="Enviar">
    </form>

</body>
</html>
