<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Monkey Consulting</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<!--     <script type="module" src="https://pyscript.net/latest/pyscript.js"></script>-->
</head>

<body class="body">
    <h1 class="py-title">Monkey Consulting</h1>
    <br />
    <button class="py-button" onclick="openPopup('clientes')">Adicionar Cliente</button></a>
    <!-- <button class="py-button" onclick="openPopup('planos')">Selecionar Plano</button>
    <button class="py-button" onclick="openPopup('dietas')">Selecionar Dieta/Treino</button></a> -->
    <br>
    <br>
    <table>
        <thead>
            <tr style="background-color: wheat;" class="marked_row">
                <th>Nome</th>
                <th>Telefone</th>
                <th>Plano</th>
                <th>Dieta</th>
                <th>Data da Troca Plano</th>
                <th>Data de Vencimento Plano</th>
                <th>Data de Pagamento</th>
            </tr>
        </thead>
        <tbody>
             {% for cliente in dados.data %}
                <tr class="marked_row">
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.plano.descricao }}</td>
                    <td>{{ cliente.dieta.descricao }}</td>
                    <td>{{ cliente.proxima_troca_dieta_treino }}</td>
                    <td>{{ cliente.vencimento_plano }}</td>
                    <td>{{ cliente.data_pagamento }}</td>
                    <td>
                        <button onclick="openPopup('clientes/editar')">Editar</button>
                        <button onclick="openPopup('editar/{{ cliente.id_cliente }}')">Deletar</button>
                        <button onclick="openPopup('editar/{{ cliente.id_cliente }}')">Congelar</button>
                    </td>
                </tr>
             {% endfor %}
        </tbody>
    </table>

    <br>


    <script>
        function openPopup(url) {
            var style = 'width=500, height=500, scrollbars=yes';
            window.open(url, '_blank', style);
        }
    </script> 

</body>

</html>