<!DOCTYPE html>
<html>

<head>
    <title>Registrar Pagamento</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
</head>

<body>
    <h1>Registrar Pagamento</h1>

    <form id="registar_pagamento" name="registar_pagamento">
        <input type="text" id="id_data" name="id_data" value="{{ cliente.data.id_data }}" readonly style="display: none;"/>
        <br>
        <label id="data_pagamento_label">Selecione a Data do Pagamento</label><br />
        <div id="data_pagamento2" style="display: none">{{cliente.data.data_pagamento}}</div> <!- objeto escondido apenas para passar valor !>
        <input type="date" id="data_pagamento" name="data_pagamento" />
        <br>

        <br>
        <div onclick="inciar_plano()" >
            <label>Iniciar Plano?</label>
            <input type="checkbox" id="iniciar_plano_check" name="iniciar_plano_check"/>
            <br>
        </div>

        <div id="div_iniciar_plano" style="display: none">
            <br>
            <div onclick="mesma_data()">    
                <label id="mesma_data_label" name="mesma_data_label">A data de inicio do plano é mesma do pagamento?</label>
                <input type="checkbox" id="mesma_data_check" name="mesma_data_check" checked/>
                <br>
            </div>

            <div id="div_mesma_data" style="display: none">
                <br>
                <label id="label_data_plano" name="label_data_plano">Selecione a Data de inicio Plano</label>
                <br>
                <div id="inicio_plano2" style="display: none">{{cliente.data.inicio_plano}}</div>
                <input type="date" id="inicio_plano" name="inicio_plano"/>
                <br>
            </div>
        </div>
        <div id="inicio_dieta_treino" style="display: none">{{cliente.data.inicio_dieta_treino}}</div>
    </form>
    <br>
    <input type="submit" onclick="enviar_formulario('{{cliente.id_cliente}}')" value="Enviar" />
    <button onclick="window.close()">Voltar</button>

    <script>
        //adiciona data pré preechida noo calendario
        var data_pagamento = document.getElementById("data_pagamento2");
        var inicio_plano = document.getElementById("inicio_plano2")
        var inicio_dieta_treino = document.getElementById("inicio_dieta_treino")      

        if (data_pagamento.textContent != "")
            document.getElementById("data_pagamento").value = new Date(data_pagamento.textContent).toISOString().split("T")[0];
        
        if (inicio_plano.textContent != "")
            document.getElementById("inicio_plano").value = new Date(inicio_plano.textContent).toISOString().split("T")[0];

        if (inicio_dieta_treino.textContent != "")
            document.getElementById("inicio_dieta_treino").value = new Date(inicio_dieta_treino.textContent).toISOString().split("T")[0];
                

        // fecha se apertar ESC
        document.addEventListener("keydown", function (event) {
            if (event.key === "Escape") {
                window.close();
            }
        });

        //logica para iniciar plano
        function inciar_plano() {
            var display = "none"

            if (document.getElementById("iniciar_plano_check").checked) 
                display = "block"
            
            document.getElementById("div_iniciar_plano").style.display = display;
        }

        //logica para mesma data de pagamento e inicio do plano
        function mesma_data() {
            var checked = "none"

            if (!document.getElementById("mesma_data_check").checked) {
                checked = "block";
            }
            document.getElementById("div_mesma_data").style.display = checked;
        }

        function enviar_formulario(id_cliente) {
            formulario = document.getElementById("registar_pagamento")

            if (formulario.data_pagamento.value == "") {
                alert("Favor informar a data de pagamento.");
                return;
            } else {
                
                var formData = new FormData(formulario);

                fetch("/cliente/pagamento/" + id_cliente, {
                    method: "POST",
                    body: formData,
                })
                .then(response => {
                    response.text().then(message => {
                        if (!response.ok) {
                                alert(`Erro ao realizar a operação. \n${message}.`)
                        } else {
                            alert("Operação realizada com sucesso!");
                            window.opener.location.reload();
                            window.close();
                        }
                    })
                })
                .catch((error) => {
                    alert(error.message);
                });
            }
        }
    </script>
</body>

</html>