<!DOCTYPE html>
<html>

<head>
  <title>Editar Cliente</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <h1>Editar Cliente</h1>

  <form id="novo_cliente" action="/cliente" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Nome Completo" required/><br>

    <label for="telefone">Telefone:</label>
    <input type="tel" id="telefone" name="telefone" pattern="[0-9]{11}" maxlength="11" placeholder="Apenas números" required />
    <br><br>
    <input type="submit" onclick="enviar_formulario()" value="Enviar" />
    <button onclick="window.close()">Voltar</button>
  </form>

  <!-- #include virtual="default/footer"-->

  <script>
    document.addEventListener("keydown", function (event) {
      if (event.key === "Escape") {
        window.close();
      }
    });
    function enviar_formulario() {
      formulario = document.forms[0];

      if (formulario.nome.value == "" || formulario.telefone.value == "") {
        alert("Ao menos os campos obrigatorios devem ser preenchidos");
        return;
      } else {
        formulario.submit();
        setTimeout(function () {
          window.opener.location.reload();
          window.close();
        }, 100);

      }
    }
  </script>
</body>

</html>