<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Editar Cliente</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
  <div class="form_client">
    <h1>Editar</h1>

    <form id="editar_cliente" action="/editar" method="post">
      <div th.text="${cliente}"></div>

      <label class="ocultar" for="id_cliente">ID: </label>
      <input class="ocultar" type="text" id="id_cliente" name="id_cliente" th:value="${ cliente.idCliente }" readonly />

      <label class="ocultar" for="indicador_cliente_ativo">Cliente Ativo: </label>
      <input class="ocultar" type="text" id="indicador_cliente_ativo" name="indicador_cliente_ativo"
        th:value="${ cliente.indicadorClienteAtivo }" readonlys />

      <label for="nome">Nome: </label>
      <input type="text" id="nome" name="nome" th:value="${ cliente.nome }" required />
      <br>

      <label for="telefone">Telefone: </label>
      <input type="tel" id="telefone" name="telefone" pattern="[0-9]{11}" maxlength="11" placeholder="Apenas números"
        th:value="${ cliente.telefone }" required />
      <br>

      <label for="plano">Selecione o Plano: </label>
      <select id="plano" name="plano">
        <th:block th:if="${cliente.planoModel != null}">
          <option th:each="plano : ${planos}" th:text="${plano.descricao}" th:value="${plano.idPlano}"
            th:selected="${plano.idPlano == cliente.planoModel.idPlano}">
          </option>
        </th:block>
        <th:block th:unless="${cliente.planoModel != null}">
          <option th:each="plano : ${planos}" th:text="${plano.descricao}" th:value="${plano.idPlano}">
          </option>
        </th:block>
      </select>

      <br>
      <label for="dieta">Selecione o Treino: </label>
      <select id="dieta" name="dieta">
        <th:block th:if="${cliente.dietaTreinoModel != null}">
          <option th:each="dieta : ${dietas}" th:text="${dieta.descricao}" th:value="${dieta.idDieta}"
            th:selected="${dieta.idDieta == cliente.dietaTreinoModel.idDieta}">
          </option>
        </th:block>
        <th:block th:unless="${cliente.dietaTreinoModel != null}">
          <option th:each="dieta : ${dietas}" th:text="${dieta.descricao}" th:value="${dieta.idDieta}">
          </option>
        </th:block>
      </select>

      <br>
    </form>

    <button type="submit" onclick="enviar_formulario()">Enviar</button>
    <button onclick="window.close()">Voltar</button>

    <script >
      function enviar_formulario() {
        formulario = document.forms[0];

        if (formulario.nome.value == "" || formulario.telefone.value == "") {
          alert("Ao menos os campos obrigatorios devem ser preenchidos");
          return;
        } else {
          formulario.submit();
          setTimeout(function () {
            window.opener.location.reload();
            window.close();
          }, 100);
        }
      }

      document.addEventListener("keydown", function (event) {
        if (event.key === "Escape")
          window.close();
      });
    </script>

  </div>
</body>

</html>