<!DOCTYPE html>
<html>

<head>
  <title>Registrar Pagamento</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
</head>

<body>
  <h1>Registrar Pagamento</h1>

  <form id="registar_pagamento" name="registar_pagamento" action="/datas/editar" method="post">
    <!-- objeto escondido apenas para passar valor -->
    <!--    class="ocultar" -->
    <div id="id_data" th:text="${cliente.datasModel[0].idData}" readonly></div>
    <div id="data_pagamento" th:text="${cliente.datasModel[0].dataPagamento}" readonly></div>
    <div id="valor_bruto" th:text="${cliente.valoresModel[0].valorBruto}" readonly></div>
    <div id="valor_liquido" th:text="${cliente.valoresModel[0].valorLiquido}" readonly></div>

    <label id="data_pagamento_label">Selecione a Data do Pagamento: </label>
    <input type="date" id="data_pagamento_input" name="data_pagamento_input" />

    <br> <br>
    <label id="valor_bruto_label">Informe o valor Bruto: </label>
    <input type="text" id="valor_bruto_input" name="valor_bruto_input" onkeyup="formatarMoeda(this)" />

    <br>
    <label id="valor_liquido_label">Informe o valor Liquido: </label>
    <input type="text" id="valor_liquido_input" name="valor_liquido_input"
      th:value="${cliente.valoresModel[0].valorLiquido}" onkeyup="formatarMoeda(this)" />

    <br /> <br>
    <div onclick="inciar_plano()">
      <label>Iniciar Plano?</label>
      <input type="checkbox" id="iniciar_plano_check" name="iniciar_plano_check" />
      <br />
    </div>

    <div id="iniciar_plano_div" style="display: none">
      <br />
      <div onclick="mesma_data()">
        <label id="mesma_data_label" name="mesma_data_label">A data de inicio do plano é mesma do pagamento?</label>
        <input type="checkbox" id="mesma_data_check" name="mesma_data_check" checked />
        <br />
      </div>

      <div id="mesma_data_div" style="display: none">
        <br />
        <label id="label_data_plano" name="label_data_plano">Selecione a Data de inicio Plano</label>
        <br />
        <div id="inicio_plano_div" style="display: none" th:text="${cliente.datasModel[0].inicioPlano}">

        </div>
        <input type="date" id="inicio_plano_input" name="inicio_plano_input" />
        <br />
      </div>
    </div>
  </form>
  <br />
  <button type="submit" onclick="enviar_formulario('${cliente.idCliente}')" value="Enviar">Enviar</button>
  <button onclick="window.close()">Voltar</button>

  <script th:inline="javascript">
    //adiciona data pré preechida no calendario
    var data_pagamento = document.getElementById("data_pagamento");
    var inicio_plano = document.getElementById("inicio_plano_div");
    var inicio_dieta_treino = document.getElementById("inicio_dieta_treino");
    var valor_bruto = document.getElementById("valor_bruto");
    var valor_liquido = document.getElementById("valor_liquido");

    if (valor_bruto.textContent != "") {
      console.log("valor_bruto", valor_bruto.textContent)
      document.getElementById("valor_bruto_input").value = "R$ " + valor_bruto.textContent.replace(".", ",");
    } else {
      document.getElementById("valor_bruto_input").value = "R$ 00,00";
    }

    if (valor_liquido.textContent != "") {
      console.log("valor_liquido", valor_liquido.textContent)
      document.getElementById("valor_liquido_input").value = "R$ " + valor_liquido.textContent.replace(".", ",");
    } else {
      document.getElementById("valor_liquido_input").value = "R$ 0,00";
    }

    if (data_pagamento.textContent != "") {
      console.log(`data_pagamento`, data_pagamento.textContent)
      document.getElementById("data_pagamento_input").value = new Date(
        data_pagamento.textContent
      ).toISOString().split("T")[0];
    }

    if (inicio_plano.textContent != "") {
      console.log('inicio_plano', inicio_plano.textContent)
      document.getElementById("inicio_plano_input").value = new Date(
        inicio_plano.textContent
      ).toISOString().split("T")[0];
    }

    // logica para iniciar plano
    function inciar_plano() {
      var display = "none";

      if (document.getElementById("iniciar_plano_check").checked)
        display = "block";

      document.getElementById("iniciar_plano_div").style.display = display;
    }

    //logica para mesma data de pagamento e inicio do plano
    function mesma_data() {
      var checked = "none";

      if (!document.getElementById("mesma_data_check").checked)
        checked = "block";

      document.getElementById("mesma_data_div").style.display = checked;
    }

    function enviar_formulario(id_cliente) {
      formulario = document.getElementById("registar_pagamento");

      if (formulario.data_pagamento_input.value == "") {
        alert("Favor informar a data de pagamento.");
        return;
      } else {
        var formData = new FormData(formulario);

        console.log(formData)

        fetch("/datas/editar", {
          method: "POST",
          body: formData,
        })
          .then((response) => {
            response.text().then((message) => {
              if (!response.ok)
                alert(`Erro ao realizar a operação. \n${message}.`);
              else {
                alert("Operação realizada com sucesso!");
                window.opener.location.reload();
                window.close();
              }
            });
          })
          .catch((error) => {
            alert(error.message);
          });
      }
    }

    function formatarMoeda(input) {
      let valor = input.value;
      valor = valor.replace(/\D/g, '');
      valor = (Number(valor) / 100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
      input.value = valor;
    }

    // fecha se apertar ESC
    document.addEventListener("keydown", function (event) {
      if (event.key === "Escape")
        window.close();
    });
  </script>
</body>

</html>