<!DOCTYPE html>
<html>

<head>
  <title>Novo Cliente</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body style="
      min-width: 450px;
      max-width: 450px;
      min-height: 550px;
      max-height: auto;
      padding: 15px;
      margin: 10px;
    ">
  <h1>Novo Cliente</h1>

  <form id="novo_cliente" th:action="@{/insere}" method="POST">
    <label>Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Nome Completo" required />

    <br />
    <label>Telefone:</label>
    <input type="tel" id="telefone" name="telefone" pattern="[0-9]{11}" maxlength="11" placeholder="Apenas números"
      required />

    <br />
    <label>Valor Bruto:</label>
    <input value="R$ 0,00" type="text" id="valor_bruto" name="valor_bruto" onkeyup="formatarMoeda(this)" />

    <br />
    <label>Valor Liquido:</label>
    <input value="R$ 0,00" type="text" id="valor_liquido" name="valor_liquido" onkeyup="formatarMoeda(this)" />

    <br />
    <input type="submit" onclick="enviar_formulario()" value="Enviar" />
    <button onclick="window.close()">Voltar</button>
  </form>

  <!-- #include virtual="default/footer"-->

  <script th:inline="javascript">
    function enviar_formulario() {
      formulario = document.forms[0];

      formulario.valor_bruto.value = formulario.valor_bruto.value.replace(/[^\d,]/g, "").replace(",", ".");
      formulario.valor_liquido.value = formulario.valor_liquido.value.replace(/[^\d,]/g, "").replace(",", ".");

      if (formulario.nome.value == "" || formulario.telefone.value == "") {
        alert("Ao menos os campos obrigatorios devem ser preenchidos");
        return;
      } else {
        fetch(formulario.action, {
          method: formulario.method,
          body: new FormData(formulario)
        }).then(response => {
          if (!response.ok) {
            response.text().then(data => {
              // alert("Erro ao cadastrar cliente: " + error_message);
              abrirModal(data, formulario.telefone.value);
            });
          } else {
            window.opener.location.reload();
            window.close();
          }
        }).catch(error => {
          console.log('error', error)
          alert("Erro ao enviar o formulário: " + error);
        });
      }
    }

    function formatarMoeda(input) {
      let valor = input.value;
      valor = valor.replace(/\D/g, "");
      valor = (Number(valor) / 100).toLocaleString("pt-BR", {
        style: "currency",
        currency: "BRL",
      });
      input.value = valor;
    }

    function abrirModal(data, telefone) {
      if (null != document.querySelector(".modal"))
        fecharModal();

      data = data.replace(/=/g, '": "').replace(/, /g, '", "').replace(/{/, '{"').replace(/}/, '"}');
      var json_data = JSON.parse(data)

      // Cria um elemento div para conter o modal
      var modalContainer = document.createElement("div");
      modalContainer.innerHTML = data

      if (json_data.error_message == "Telefone ja cadastrado!") {
        if (json_data.indicador_cliente_ativo == 'false') {
          modalContainer.innerHTML = `
          <div id="myModal" class="modal" style="display: block;">
            <div class="modal-content">
              <p>Telefone ${telefone}, ja cadastrado!</p>
              <p>Cliente inativo. Deseja ativar o cliente?</p>
              <button id="btnSim" name="btnSim" data_id_cliente="${json_data.id_cliente}">Sim</button>
              <button id="btnNao">Não</button>
            </div>
          </div>`;
        } else {
          modalContainer.innerHTML = `
            <div id="myModal" class="modal" style="display: block;">
              <div class="modal-content">
                <p>Telefone ${telefone}, ja cadastrado e ativo.</p>
                <p>Tente outro numero ou pesquise pelo cliente.</p>
              </div>
            </div>`;
        }
      }

      // Adiciona o modal à página atual
      document.body.appendChild(modalContainer);

      // Obtenha a referência aos botões dentro do modal
      var btnSim = document.getElementById("btnSim");
      var btnNao = document.getElementById("btnNao");

      // Quando o usuário clicar em "Sim"
      btnSim.onclick = function () {
        reativarCliente(btnSim.getAttribute("data_id_cliente"))
      };

      // Quando o usuário clicar em "Não"
      btnNao.onclick = function () {
        fecharModal();
        // Faça o que você precisa fazer se o usuário clicar em "Não"
      };
    }

    function reativarCliente(idCliente) {
      fetch(`/reativar-cliente?id_cliente=${idCliente}`, {  
        method: "POST"
      }).then(response => {
        console.log(response)

        if (!response.ok) {
          console.log("Erro ao reativar cliente", response.status, response.statusText);
          alert("Erro ao reativar cliente: " + response.statusText);
        } else {
          alert("Cliente reativado.");
          window.opener.location.reload();
          window.close();
        }
      }).catch(error => {
        console.log("Erro ao reativar cliente", response.status, response.statusText);
        alert("Erro ao reativar cliente: " + response.statusText);
      });
    }

    // Função para fechar o modal
    function fecharModal() {
      var modalContainer = document.querySelector(".modal");
      if (modalContainer) {
        modalContainer.remove();
      }
    }

    window.onload = function () {
      window.resizeTo(document.body.offsetWidth, document.body.offsetHeight);
    };

    document.addEventListener("keydown", function (event) {
      if (event.key === "Escape") window.close();
    });
  </script>
</body>

</html>