.title {
  color: white;
}

body {
  /* background-color: grey; */
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  width: 100%;
  background: white;
}

/* Estilo para as células da tabela */
td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

thead {
  border: 1px solid yellow;
}

.ocultar {
  display: none;
}

.valor-monetario {
  display: inline-block;
  text-align: left;
}

.body_edit_client {
  height: auto;
  width: auto;
}

.form_client {
  max-height: 400px;
  max-width: 400px;
}
